.detail{
  &__container{
    background-color: #ffffff;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  &__contain{
    margin-left: 1rem;
    width: 26rem;
  }
  &__image{
    width: 55rem;
  }
  &__condition{
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  &__title{
    font-weight: 900;
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  &__price{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  &__button{
    width: 100%;
    padding: 1rem 0;
    border: none;
    background-color: var(--blue);
    color:#ffffff;
    border-radius: 3px;
  }
}