.detail{
  &__container{
    background-color: #ffffff;
    padding: var(--spacing-m);
    display: flex;
    flex-wrap: wrap;
    color: var(--grey-400);

  }
  &__contain{
    margin-left: 1rem;
    width: 26rem;
  }
  &__image{
    width: 55rem;
  }
  &__condition{
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  &__title{
    color: var(--grey-400);
    font-weight: 900;
    font-size: var(--font-500);
    margin-bottom: 2rem;
  }
  &__price{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  &__button{
    width: 100%;
    padding: 1rem 0;
    border: none;
    background-color: var(--blue);
    color:#ffffff;
    border-radius: 3px;
  }
  &__description-title{
    color: var(--grey-400);
    font-size: var(--font-600);
    margin: 6rem 0 var(--spacing-m);
  }
  &__description-text{
    color: var(--grey-200);
    font-size: var(--font-300);
    &+&{
      margin-top: var(--spacing-s);
    }
  }
}