.detail{
  &__container{
    background-color: #ffffff;
    padding: var(--spacing-m);
    display: flex;
    flex-wrap: wrap;
    color: var(--grey-400);
  }
  &__contain{
    max-width: 28rem;
  }
  &__image{
    width: 55rem;
  }
  &__condition{
    font-size: var(--font-200);
    margin-bottom: var(--spacing-s);
  }
  &__title{
    color: var(--grey-400);
    font-weight: 900;
    font-size: var(--font-500);
    margin-bottom: var(--spacing-m);
  }
  &__price{
    font-size: var(--font-700);
    margin-bottom: var(--spacing-m);
  }
  &__decimals{
    font-size: var(--font-500);
    margin-left: 0.5rem;
  }
  &__button{
    width: 100%;
    padding: 1rem 0;
    border: none;
    background-color: var(--blue);
    color:#ffffff;
    border-radius: 3px;
  }
  &__container-div{
    width: 100%;
  }
  &__description-title{
    display: block;
    color: var(--grey-400);
    font-size: var(--font-600);
    margin: 6rem 0 var(--spacing-m);
  }
  &__description-text{
    color: var(--grey-200);
    font-size: var(--font-300);
    &+&{
      margin-top: var(--spacing-s);
    }
  }
}