.breadcrumb{
  display:flex;
  padding: var(--spacing-s) 0;
  li{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: var(--font-200);
    color: var(--grey-300);

    a{
      text-decoration: none;
      color: inherit;
    }

    &::after{
      content:"";
      height: .75rem;
      width: .75rem;
      border-top: 2px solid var(--grey-200);
      border-right: 2px solid var(--grey-200);
      transform: rotate(45deg);
      display: inline-block;
      margin: 0 1rem;
    }
    &:last-child::after{
      display: none;
    }

  }



}