.page-not__div{
  background-color: #ffffff;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 5.9rem);
  img{
    padding-left: 3rem;
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
  }
  p{
    font-size: var(--font-500);
  }
}