.header{
    background-color: var(--yellow);
    display: flex;
    div{
      padding: 1rem 0;
      background-color: var(--yellow);
      display: flex;
      align-items: center;
      justify-content: center;
      }
  
  &__logo{
    margin-right:3rem;
    width: auto;
    height: 100%;
  }
  &__input{
    font-size: var(--font-400);
    text-align: start;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;

  }
  &__button{
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.7rem 1.2rem;
    height: 100%;
    &-logo{
      // 
    }
  }

}